<@_sysFtpUserList name=name pageIndex=pageNum count=numPerPage>
<div class="pageHeader">
	<form id="pagerForm" onsubmit="return navTabSearch(this);" method="post">
		<#include "../include_page/paramters.html"/>
		<div class="searchBar">
			<ul class="searchContent">
				<li>
					<label>用户名：</label>
					<input type="text" name="name" value="${name!}" />
				</li>
			</ul>
			<div class="subBar">
				<ul>
					<li>
						<div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="cmsFtpUser/add.html" target="navTab" rel="cmsFtpUser/add"><span>添加FTP用户</span></a></li>
			<li><a class="edit" href="cmsFtpUser/add.html?id={sid}" target="navTab" rel="cmsFtpUser/edit"><span>修改FTP用户</span></a></li>
			<li><a class="delete" href="cmsFtpUser/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="92">
		<thead>
			<tr>
				<th width="30">ID</th>
				<th>用户名</th>
				<th>路径</th>
			</tr>
		</thead>
		<tbody>
			<#list page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.id!}</td>
				<td>${a.name!}</td>
				<td>${a.path!}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../include_page/page.html"/>
</div>
</@_sysFtpUserList>