<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>登陆状态同步</title>
	<script src="${site.sitePath!}js/jquery-1.9.1.min.js"></script>
	<script src="${site.sitePath!}js/jquery.cookie.js"></script>
</head>
<body>
<script type="text/javascript">
function getQueryString(name) { 
	var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
	var r = window.location.search.substr(1).match(reg); 
	if (r != null) return unescape(r[2]); return null; 
}
var token=getQueryString('token');
$.cookie.raw = true;
if(token){
	$.cookie('PUBLICCMS_USER',token,{expires: 10800});
}else{
	$.removeCookie('PUBLICCMS_USER');
}
</script>
</body>
</html>