<div class="pageFormContent" layoutH="5" style="background:#fff">
	<h2 class="contentTitle">已推荐到</h2>
	<div class="unit">
<@_contentRelatedList relatedContentId=contentId>
		<p>
			<label>${page.totalCount}条内容:</label>
			<a class="button" href="cmsContent/push_content.html?contentId=${contentId}" target="dialog" rel="push">
				<span>推荐到内容</span>
			</a>
		</p>
		<p>
	<#list page.list as a>
		<@t.merge 'contentIds' a.contentId!/>
	</#list>
	<@_content ids=t.contentIds!><#assign contentMap=map!/></@_content>
	<#list page.list as a>
			<a href="${contentMap[a.contentId?string].url!}" target="_blank">${contentMap[a.contentId?string].title}</a><br/>
	</#list>
		</p>
</@_contentRelatedList>
	</div>
	<div class="divider"></div>
	<div class="unit">
<@_pageDataList itemType='content' itemId=contentId type='static'>
		<p>
			<label>${page.totalCount}个静态页面:</label>
			<a class="button" href="cmsContent/push_page.html?contentId=${contentId}" target="dialog" rel="push">
				<span>推荐到静态页面</span>
			</a>
		</p>
		<p>
	<#list page.list as a>
		
		${a.path?a.path?last_index_of('/')} <@_metadata path='include'+a.path type='static'>${(object.alias)!}</@_metadata><br/>
	</#list>
		</p>
</@_pageDataList>
	</div>
	<div class="divider"></div>
	<div class="unit">
<@_pageDataList itemType='content' itemId=contentId type='dynamic'>
		<p>
			<label>${page.totalCount}个动态页面：</label>
			<a class="button" href="cmsContent/push_page.html?type=dynamic&contentId=${contentId}" target="dialog" rel="push">
				<span>推荐到动态页面</span>
			</a>
		</p>
		<p>
	<#list page.list as a>
		${a.path} <@_metadata path='include'+a.path type='dynamic'>${(object.alias)!}</@_metadata><br/>
	</#list>
		</p>
</@_pageDataList>
	</div>
	<div class="divider"></div>
</div>