<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>Github插件 - 散乱</title>
	<@include path="/ftl/header.ftl"/> <#-- 页头 -->
</head>
<body>
	<header><@noCache><@include path="/ftl/top.ftl"/> <#-- 用户登录 --></@noCache></header>
	<main>
		<div>
				<h2>
				Github项目挂件
				</h2>
				<fieldset>
			    	<legend>Github项目</legend>
					<p class="text-center"><input name="login" type="text" placeholder="用户"/></p>
					<p class="text-center"><input name="repo"  type="text" placeholder="项目"/></p>
					<p class="text-center"><label><input name="hideGetLink"  type="checkbox"/>隐藏获取链接</label></p>
					<p class="text-center">
						<input type="button" class="button" onclick="preview()" value="预览"/>
					</p>
				</fieldset>
			<script>
				function preview(){
					if(!$('input[name=login]').val()&&!$('input[name=repo]').val()){
						$('input[name=login]').val('sanluan');
						$('input[name=repo]').val('PublicCMS');
						__.footer.message('用户和项目不能为空').addClass('red').delay(3000).fadeOut(function(){$(this).remove();});
					}
					var url='${base}/github-widget.html?login='+$('input[name=login]').val()+'&repo='+$('input[name=repo]').val();
					if($('input[name=hideGetLink]').is(':checked')){
						url+='&hideGetLink=true';
					}
					$('#widget').attr('src',url);
					$('textarea[name=url]').val("<div style=\"width:380px;height:300px;border:1px solid #eee;\"><iframe frameborder=\"0\" width=\"100%\" height=\"100%\" src=\'"+url+"\"></iframe></div>");
				}
			</script>
			<fieldset>
	    		<legend>预览</legend>
				<p><label>引用代码：</label><textarea name="url" style="width: 400px;height: 40px;"></textarea></p>
				<div style="width:380px;height:300px;border:1px solid #eee;"><iframe id="widget" frameborder="0" width="100%" height="100%"></iframe></div>
			</fieldset>
			<div id="SOHUCS" style="padding:10px;" sid="github-widget"></div>
			<script>
				var _config = {showScore: true};
				(function(){
					var appid = 'cyrGnkxr3',
					conf = 'pro_64e213c0c1210c839584707e2d5e7cd7';
					var doc = document,
					s = doc.createElement('script'),
					h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
					s.type = 'text/javascript';
					s.charset = 'utf-8';
					s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
					h.insertBefore(s,h.firstChild);
				})();
			</script>
		</div>
	</main>
  	<@include path="/ftl/footer.ftl"/> <#-- 页尾 -->
</body>
</html>