<@_content id=id>
<#assign content=object/>
<#assign attribute=getContentAttribute(id)!{}/>
</@_content>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>${(content.title)!}</title>
	<meta name="description" content="${(content.description)!}">
    <@_includePlace path="/index.html/7b6a73cb-e3dc-4476-8c3c-29cb14b95b20.html"/> <#-- 页头 -->
	<script>
		var categoryId='${(content.categoryId)!}';
	</script>
</head>
<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
	<@_includePlace path="/index.html/2279038b-4e89-47c1-9066-d4bbbc4c4004.html"/> <#-- 导航 -->
	<div class="container" style="margin-top:50px;">
		<div class="row white">
			<h1 class="centered">${(content.title)!}</h1>
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","douban","weixin","renren","tieba","copy"],"viewText":"分享到：","viewSize":"24"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			<hr>
			<div>
				${attribute.text?no_esc!}
			</div>
		</div><!-- row -->
	</div><!-- container -->
	<@_includePlace path="/index.html/c74c4abb-a8fe-419a-94c8-59a1e5745318.html"/> <#-- 页尾 -->
</body>
</html>