<!DOCTYPE html>
<html lang="en">
<head>
	<title>${(metadata.extendData.title)!}</title>
	<meta name="keywords" content="${(metadata.extendData.keywords)!}"/>
	<meta name="description" content="${(metadata.extendData.description)!}">
	<@_includePlace path="/index.html/7b6a73cb-e3dc-4476-8c3c-29cb14b95b20.html"/> <#-- 页头 -->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
	<@_includePlace path="/index.html/2279038b-4e89-47c1-9066-d4bbbc4c4004.html"/> <#-- 导航 -->
	<!-- ==== HEADERWRAP ==== -->
	<div id="headerwrap" id="home" name="home" style="background:url('${site.resourcePath}${(metadata.extendData.image)!}') no-repeat center top; background-size: cover;">
		<header class="clearfix">
			<h1><span class="icon icon-shield"></span></h1>
			<p>${(metadata.extendData.text1)!}</p>
			<p>${(metadata.extendData.text2)!}</p>
		</header>
	</div><!-- /headerwrap -->

	<!-- ==== GREYWRAP ==== -->
	<div id="greywrap">
		<div class="row">
			<div class="col-lg-4 callout">
				<span class="icon icon-stack"></span>
				<h2>Bootstrap 3</h2>
				<p>Shield Theme is powered by Bootstrap 3. The incredible Mobile First Framework is the best option to run your website. </p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 callout">
				<span class="icon icon-eye"></span>
				<h2>Retina Ready</h2>
				<p>You can use this theme with your iPhone, iPad or MacBook Pro. This theme is retina ready and that is awesome. </p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 callout">
				<span class="icon icon-heart"></span>
				<h2>Crafted with Love</h2>
				<p>We don't make sites, we craft themes with love & passion. That is our most valued secret. We only do thing that we love.   </p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
	</div><!-- greywrap -->

	<!-- ==== PORTFOLIO ==== -->
	<div class="container">
		<br/>
		<div class="row">
				<h1 class="centered">最新文章</h1>
				<hr>
		</div><!-- /row -->
		<div class="row">
			<@_contentList count=12>
			<#list page.list as a>
			<div class="col-md-4 ">
				<div class="grid mask">
					<figure>
						<a href="${a.url!}" target="_blank"><img class="img-responsive" src="${(site.resourcePath+a.cover)!}" alt="${a.title}"></a>
						<figcaption>
							<h5>${a.title}</h5>

						</figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
				</div><!-- /grid-mask -->
			</div>
			</#list>
			</@_contentList>
		</div><!-- /row -->
	</div><!-- /container -->

	<!-- ==== SECTION DIVIDER2 -->
	<section class="section-divider textdivider divider2" style="background:url('${site.resourcePath}images/bg/divider2.jpg');">
		<div class="container">
			<h1>DESIGN IS AN INTERACTION</h1>
			<hr>
			<p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
		</div><!-- container -->
	</section><!-- section -->
	<!-- ==== TEAM MEMBERS ==== -->
	<div class="container">
		<br>
		<div class="row white centered">
			<h1 class="centered">我们的团队</h1>
			<hr>
			<br>
			<br>
			<@_includePlace path="/index.html/f48b5957-297d-443d-8bdf-a19d6464065b.html"/> <#-- Our Team -->
		</div><!-- row -->
	</div><!-- container -->

	<!-- ==== SECTION DIVIDER4 ==== -->
	<section class="section-divider textdivider divider4" style="background:url('${site.resourcePath}images/bg/divider4.jpg');">
		<div class="container">
			<h1>DESIGN CREATES EMOTIONAL CONNECTION</h1>
			<hr>
			<p>There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience.</p>
		</div><!-- container -->
	</section><!-- section -->

	<!-- ==== BLOG ==== -->
	<div class="container" id="blog" name="blog">
		<br/>
		<div class="row">
				<h1 class="centered">我们的故事</h1>
				<hr>
		</div><!-- /row -->
		<br/>
		<@_includePlace path="/index.html/8fc338cc-16e8-4bb6-a1b2-34e2c97bb602.html"/> <#-- WE ARE STORYTELLERS -->
	</div><!-- /container -->

	<section class="section-divider textdivider divider1" style="background:url('//resource.oldhunter.com/images/bg/divider1.jpg');">
			<div class="container">
				<h1>DESIGN EXPAND BOUNDARIES</h1>
				<hr>
				<p>To achieve real change, we have to expand boundaries. Because the Wild West of what-could-be is unexplored but rife with opportunity.</p>
			</div><!-- container -->
	</section>

	<!-- ==== GREYWRAP ==== -->
	<div id="greywrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 centered">
					<img class="img-responsive" src="${site.resourcePath}images/macbook.png" align="">
				</div>
				<div class="col-lg-4">
					<h2>We Are Hiring!</h2>
					<p>Do you want to be one of use? Sure you want, because we are an awesome team!. Here we work hard every day to craft pixel perfect sites.</p>
					<p><a class="btn btn-success">Contact Us</a></p>
				</div>
			</div><!-- row -->
		</div>
		<br>
		<br>
	</div><!-- greywrap -->

	<@_includePlace path="/index.html/c74c4abb-a8fe-419a-94c8-59a1e5745318.html"/> <#-- 页尾 -->
</body>
</html>