<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>注册 - 散乱</title>
<@include path="/ftl/header.ftl"/> <#-- 页头 -->
<link rel="stylesheet" href="${site.resourcePath}css/login.css">
</head>
<body>
	<header><@noCache><@include path="/ftl/top.ftl"/> <#-- 用户登录 --></@noCache></header>
	<main>
	    <div>
    <#if user??>
   			<p class="message">您已经登录了</p>
   	<#else>
          <@import path="/ftl/tools.ftl" namespace="t"/>
          <form action="doRegister.do" method="post" class="center login-form">
            <#if error??>
            <p class="message red"><@t.m error/></p>
            </#if>
            <#if message??>
            <p class="message"><@t.m "message."+message/></p>
            </#if>
            <p><input type="text" name="name" class="input-text" placeholder="用户名" title="用户名" value="${name!}"/></p>
            <p>4位以上数字、字母、下划线,不以数字开始</p>
            <p><input type="text" name="nickName" class="input-text" placeholder="昵称" title="昵称"  value="${nickName!}"/></p>
            <p>2位以上数字、字母、汉字、下划线</p>
            <p><input type="password" name="password" class="input-text" placeholder="密码" title="密码"/></p>
            <p><input type="password" name="repassword" class="input-text" placeholder="重复密码" title="重复密码"/></p>
            <p class="text-center">
              <input type="submit" class="button" value="注册"/>
            </p>
          </form>
	</#if>
	    </div>
	</main>
	<@include path="/ftl/footer.ftl"/> <#-- 页尾 -->
</body>
</html>