<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>用户首页 - 散乱</title>
<@include path="/ftl/header.ftl"/> <#-- 页头 -->
</head>
<body>
	<header><@noCache><@include path="/ftl/top.ftl"/> <#-- 用户登录 --></@noCache></header>
	<main>
		<div>
           <@import path="/ftl/tools.ftl" namespace="t"/>
			<#if error??>
				<p class="message"><@t.m error/></p>
			</#if>
			<#if message??>
				<p class="message"><@t.m "message."+message/></p>
			</#if>
			<ul class="cards clearfix">
				<li>
					<section>
						<div class="tools">
							<h2><a href="password.html">修改密码</a></h2>
						</div>
					</section>
				<#if !user.emailChecked>
					<section>
						<div class="tools">
							<h2><a href="editEmail.html">绑定邮箱</a></h2>
						</div>
					</section>
				</#if>
				</li>
			</ul>
			<script>
			__.CreateDataLoader('load_data.html?pageNo=',1,1).init();
			</script>
		</div>
	</main>
	<@include path="/ftl/footer.ftl"/> <#-- 页尾 -->
</body>
</html>