/* CSS Document */
@CHARSET "UTF-8";

.login-form {
width: 226px; background-color: #aaa; padding: 40px 20px;margin-top:60px;
}

.login-form input {
width: 213px; background: #FFF;
}

.login-form input[type=submit] {
background: #E52A31; border: 1px solid #E42B31; color: #FFF;
}