<div class="accordion">
	<div class="accordionHeader">
		<h2><span>Folder</span>站点管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li>
				<a href="sysSite/list" target="navTab" rel="sysSite/list">站点管理</a>
			</li>
			<li>
				<a href="sysDomain/list" target="navTab" rel="sysDomain/list">域名管理</a>
			</li>
			<li>
				<a href="sysMoudle/list" target="navTab" rel="sysMoudle/list">模块管理</a>
			</li>
			<li>
				<a href="sysFtpUser/list" target="navTab" rel="sysFtpUser/list">FTP用户管理</a>
			</li>
			<li>
				<a href="sysApp/list" target="navTab" rel="sysApp/list">应用授权</a>
			</li>
			<li>
				<a href="sysApp/interface" target="navTab" external="true" rel="sysApp/interface">接口测试</a>
			</li>
			<li>
				<a href="sysAppClient/list" target="navTab" rel="sysAppClient/list">客户端管理</a>
			</li>
			<li>
				<a href="PluginSite/list" target="navTab" rel="PluginSite/list">插件管理（开发中）</a>
			</li>
			<li>
				<a href="pluginLottery/list" target="navTab" rel="sysPlugin/list">抽奖管理（开发中）</a>
			</li>
			<li>
				<a href="pluginLotteryUser/list" target="navTab" rel="sysPlugin/list">抽奖用户管理（开发中）</a>
			</li>
			<li>
				<a href="pluginVote/list" target="navTab" rel="sysPlugin/list">投票管理（开发中）</a>
			</li>
		</ul>
	</div>
</div>