<@_metadata path=path type='dynamic'><#assign a=object/></@_metadata>
<div class="pageContent">
	<form method="post" action="cmsTemplate/saveMetadata.do?callbackType=closeCurrent&navTabId=dynamicTemplate/list" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input name="type" type="hidden" value="dynamic"/>
		<div class="pageFormContent" layoutH="57" style="background:#ffffff;">
			<dl class="nowrap">
				<dt>路径:</dt></dt>
				<dd>
					<input name="path" class="required" type="text" maxlength="50" size="50" value="${(path?html)!}"/>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>别名:</dt></dt>
				<dd>
					<input name="alias" type="text" maxlength="50" size="50" value="${(a.alias)!}"/>
				</dd>
			</dl>
		<#if !path?starts_with('/ftl/')>
			<dl class="nowrap">
				<dt>需要登录:</dt>
				<dd>
					<label><input name="needLogin" type="checkbox"/></label>
					<span class="info">勾选后当用户未登陆时，将跳转到动态域名中配置的登陆地址</span>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>可接受参数:</dt>
				<dd>
					<input name="acceptParamters" type="text" value="${(a.acceptParamters)!}"/>
					<span class="info">逗号分隔，用于限制哪些请求参数可以直接在模板中使用比如配置: id;在模板中使用${r'${id}'}即可输出请求参数的值</span>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>缓存时间(秒):</dt>
				<dd>
					<input name="cacheTime" class="required" type="text" value="${(a.cacheTime)!0}"/>
					<span class="info">值大于10时，模板将被缓存,您可以使用noCache指令指定不使用缓存的模板片段：<#noparse>&lt;@noCache&gt;登陆用户：${user.nickName}&lt;/@noCache&gt;</#noparse></span>
				</dd>
			</dl>
			<#if (a.needLogin)?has_content&&a.needLogin>
				<script>
				$('input[name=needLogin]',navTab.getCurrentPanel()).click();
				</script>
			</#if>
			<fieldset>
				<legend>元数据扩展字段</legend>
				<#include '../include_page/extends.html'/>
				<#assign metadataExtendList=(a.metadataExtendList)![]/>
				<@extends 'metadataExtendList' metadataExtendList/>
			</fieldset>
		</#if>
			<textarea name="content" style="display:none">new dynamic template</textarea>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>