<@_sysDomain id=id><#assign a=object/></@_sysDomain>
<div class="pageContent">
	<form method="post" action="sysDomain/save.do?callbackType=closeCurrent&navTabId=sysDomain/list" class="pageForm required-validate" onsubmit="refreshTemplatePath(); return validateCallback(this, navTabAjaxDone);">
		<input name="id" type="hidden" value="${id!}" />
		<div class="pageFormContent" layoutH="57">
			<dl class="nowrap">
				<dt>站点:</dt>
				<dd>
					<input name="siteId" type="hidden" value="${(a.siteId)!siteId!site.id}" />
					<@_sysSite id=(a.siteId)!siteId!site.id>${(object.name)!}</@_sysSite>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>动态站点域名:</dt>
				<dd>
					<input class="required" name="name" type="text" size="20"  maxlength="255"value="${(a.name)!}"/>
					<span class="info">不包含协议头，当端口不是80时，需要指定端口</span>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>模板根目录:</dt>
				<dd>
					<input name="path" type="text" size="50" maxlength="255" value="${(a.path)!}"/>
				</dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>