<!DOCTYPE html>
<html lang="zh">
<head>
	<title>PublicCMS - 永久免费开源JAVA CMS(内容管理系统),最新技术框架</title>
	<meta name="keywords" content="${(metadata.keywords?html)!}"/>
	<meta name="description" content="${(metadata.keywords?html)!}"/>
	<@include path="/ftl/header.ftl"/> <#-- 公共头部 -->
</head>
<body>
<@include path="/ftl/nav.ftl"/>
<script>
	$("header nav ul li a:contains('首页')").parent().addClass('selected');
</script>
<main>
	<div class="container">
		<div class="data-list left-content">
<@import path="ftl/tools.ftl" namespace="t"/>
<@_modelList>
	<#list page.list?reverse as model>
		<@_contentList status=1 modelId=model.id count=3>
			<#if page.totalCount gt 0>
				<h3>最新${model.name!}</h3>
				<#list page.list as a>
						<@include path="/ftl/data-list.ftl"/>
				</#list>
			</#if>
		</@_contentList>
	</#list>
</@_modelList>
		</div>
		<aside>
			<@include path="/ftl/index.html/1.html"/><#-- 开源中国 -->
			<div>
				<h3>热门排行</h3>
				<ul class="rank">
<@_contentList orderField='clicks'count=10>
	<#list page.list as a>
					<li><a href="content.html?id=${a.id}" target="_blank">${a.title}</a><span>${a.clicks}</span></li>
	</#list>
</@_contentList>
				</ul>
			</div>
			<@_pageDataList path="/include/category/list.html/2.html"><@include path=path/></@_pageDataList><#-- 精彩图集 -->
		</aside>
	</div>
</main>
<@include path="/ftl/footer.ftl"/> <#-- 公共尾部 -->
</body>
</html>